@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
$keyrune_font_path:  '/assets/fonts' !default;
$ms_font_path: '/assets/fonts' !default;
@import "../../node_modules/keyrune/sass/keyrune.scss";
@import "../../node_modules/mana-font/sass/mana.scss";

h2.title {
  border-bottom: 1px solid #dbdbdb;

  & > .is-action {
    float: right;
    margin-right: 1rem;
  }

  & > .is-action:first-child {
    margin-right: 0;
  }
}
