@charset "utf-8";
$keyrune_font_path:  '/assets/fonts' !default;
$ms_font_path: '/assets/fonts' !default;
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/keyrune/sass/keyrune.scss";
@import "../../node_modules/mana-font/sass/mana.scss";

h2.title {
  border-bottom: 1px solid #dbdbdb;
}

.actions {
    border-left: 1px solid #dbdbdb;
    padding-top: 0;

    .action-item {
        display: block;

        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .action-item:first-child {
        padding-top: 0;
    }

    .action-item:last-child {
        padding-bottom: 0;
    }
}
